#home5{
  background-image: url('/assets/images/live-rainbow.jpg');
  background-size: cover;
}

.follow_btn{
  display: flex;
  justify-content: space-around;

}

.btn-block{
  margin-top: 20px;
  padding: 4px 50px;
  font-size: large;
}

