/* #home5{
  background-image: url('/assets/images/live-rainbow.jpg');
  background-size: cover;
} */

#home5{
  background-image: image-url('birds-800671_1280.jpg');
  background-size: cover;
}

.follow_btn{
  display: flex;
  justify-content: space-around;

}

.btn-block-follow{
  margin-top: 30px;
  border:2px solid aqua;
  border-radius:20px;
  width: 150px;
  background-color: lightcyan;
  color: gray;
  padding: 8px;
}

.btn-block-unfollow{
  margin-top: 30px;
  border:2px solid white;
  border-radius:20px;
  width: 150px;
  background-color: red;
  color: white;
  padding: 8px;
}

