.search-keyword-index{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.search-pulldown-index{
  display: flex;
  justify-content: center;
}

.category-select-index{
  margin-right: 40px;
}

.icon{
  display: flex;
  justify-content: space-around;
}

.song-btn1{
  margin-top: 30px;
  background-color: aqua;
  padding: 16px 40px;
  border-radius: 20px;
}

.main-content{
  width: 80%;
  justify-content: center;
}

.main-title{
  margin-top: 20px;
  padding: 20px 0px;
  display: flex;
  font-size: large;
  justify-content: center;
  border-bottom: aqua 2px solid;
}

.detail-table{
  display: flex;
  justify-content: center;
}

.index-detail-value {
  padding: 10px;
  border: 1px solid #dedede;
  font-size: 14px;
  width: 200px;
}

.index-detail-song {
  padding: 0px 10px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  width: 150px;
}

.grid{
  display: grid;
  gap:16px;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.pagenate{
  display: flex;
  justify-content: center;
}