
.song-btn-user{
  margin-top: 30px;
  background-color:#d7cebb;
  padding: 16px 40px;
  border-radius: 20px;
}

.main-title-user{
  margin-top: 20px;
  padding: 20px 0px;
  display: flex;
  font-size: large;
  justify-content: center;
  border-bottom: #d7cebb 2px solid;
}

